$background_color: #000;
$text_color: darken(#fff, 15%);
$link_color: $text-color;
$link_hover_color: lighten($link_color, 20%);
$sans: "ff-meta-web-pro", "Arial Black", "Arial Bold", Gadget, sans-serif;

@import "compass";

* {
  @include box-sizing(border-box);
}

html, body, div, section, ul, li, h1 {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-color: $background_color;
}

body {
  height: 100%;
  font-family: $sans;
  line-height: 150%;
  font-size: 1.1875em;
  font-weight: normal;
  font-style: normal;
  color: $text_color;
  background-image: url(/img/shane_background.jpg);
  background-position: top left;
  background-size: cover;
  .lt-ie9 & {
    font-size: 1.438em;
  }
}

@media all and (min-width: 47em) {
  body {
    // background-position: top center;
    font-size: 1.438em;
  }
}

@media all and (min-width: 65em) {
  body {
    font-size: 1.777em;
  }
}

.container {
  padding: 0 5%;
  height: 100%;
  max-width: 28.5em;
}

@media all and (min-width: 47em) {
  .container {
    padding: 0 1.5em;
  }
}

.main {
  // width: 100%;
  // height: 100%;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5%;

  background-color: #000;
  background-color: rgba(#000, 0.5);
}

@media all and (min-width: 30em) {
  .main {
    padding: 1.5em;
  }
}

@media all and (min-width: 60em) {
  .main {
    top: 4em;
    right: 5%;
    bottom: auto;
    left: auto;
  }
}

@media only screen and (min-width: 30em) and (max-width: 63em)
and (min-device-width: 320px) and (max-device-width : 1024px)
and (orientation : landscape) {
  .main {
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 30%;
    min-width: 9.5em;
  }
  .first, .last {
    display: block;
  }
}

h1 {
  font-size: 2.333em;
  line-height: 120%;
  font-weight: 700;
  @include transition(font-size 0.2s ease-in-out);
  .lt-ie9 & {
    line-height: 115%;
  }
}

@media all and (min-width: 47em) {
  h1 {
    line-height: 115%;
  }
}

@media all and (min-width: 65em) {
  h1 {
    line-height: 111%;
  }
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: $link_color;
  text-decoration: none;
  @include transition(color, 200ms);
  &:visited {
    color: $link_color;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover {
    color: $link_hover_color;
    // text-decoration: underline;
    outline: 0;
  }

}

.links {
  list-style: none;
  li {
    display: inline;
    &:before {
      content: " - ";
    }
    &:first-child:before {
      content: "";
    }
  }
  a {
    .touch & {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 30em) and (max-width: 63em)
and (min-device-width: 320px) and (max-device-width : 1024px)
and (orientation : landscape) {
  .links {
    position: absolute;
    left: 0;
    bottom: 1.5em;
    right: 0;
    padding: 1.5em 1.5em 0 1.5em;
    li {
      display: block;
      &:before {
        display: none;
      }
    }
  }
}

.typekit-badge {
  display: none !important;
}

.wf-loading {
  @include opacity(0);
}

.wf-active, .wf-inactive {
  @include opacity(1);
  @include transition(opacity 800ms);
}

::-moz-selection {
  background-color: $text_color;
  color: $background_color;
}

::selection {
  background-color: $text_color;
  color: $background_color;
}

